[submodule "lib/aig"]
	path = lib/aig
	url = https://github.com/MyskYko/aig.git
[submodule "lib/kissat"]
	path = lib/kissat
	url = https://github.com/MyskYko/kissat.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "lib/cadical"]
	path = lib/cadical
	url = https://github.com/MyskYko/cadical.git
